.video-grid{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 14px;
  padding-left: 74px;
  padding-top: 75px;
   margin: 0;
}
@media (max-width:1300px){
.video-grid{
  grid-template-columns: 1fr 1fr 1fr;
}
}
@media ( max-width:1000px){
 .video-grid{
  grid-template-columns: 1fr 1fr ;
 }
}
@media (max-width:720px){
  .video-grid{
    grid-template-columns: 1fr;
  }
}

.thumbimg{
  position:relative
}
.video-time{
  position: absolute;
  right: 7px;
  bottom: 9px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}

 

 
.channel-stats{
 margin: 0;
 margin-top: -8px;
 display: flex;
 column-gap: 9px;
  
}
.channel-img{
 
width: 36px;


}
.channel-picture{
  width: 36px;
  margin: 0;
  margin-top: 18px;
  border-radius: 100px;
  
}
 
.video-info{
  margin: 0;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: gray;
}
.channel-name{
  margin: 0;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: gray;
}
.thumbnail-image{
  width: 100%; 
 
}
.video-title{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
 
line-height: 20px;
 
 
 
margin-bottom: 18px;
}
